fastapi==0.109.0
uvicorn==0.27.0
python-dotenv==1.0.0
langchain==0.1.12
langchain-openai==0.0.8
langchain-core>=0.1.31,<0.2.0
langsmith==0.1.22
pydantic>=2.7.0
chromadb
langchain_community
plantuml
jinja2
faiss-cpu
transformers
datasets
torch
tqdm
python-multipart
plantuml-markdown
autopep8 